<p id="notice"><%= notice %></p>
<marquee><%= @pig.oink %></marquee>
<p>
  <strong>Name:</strong>
  <%= @pig.name %>
</p>

<p>
  <strong>Curly tail:</strong>
  <%= @pig.curly_tail %>
</p>

<p>
  <strong>Age:</strong>
  <%= @pig.age %>
</p>

<%= link_to 'Edit', edit_pig_path(@pig) %> |
<%= link_to 'Back', pigs_path %>
